@tailwind base;
@tailwind components;
@tailwind utilities;

.desktop-nav a:hover {
  color: hsl(215, 19%, 25%);
}

.nav-gradient {
  background: linear-gradient(
    to bottom,
    rgb(254, 252, 247) 50%,
    rgba(254, 252, 247, 0.5)
  );
}

.home-hero {
  background-image: url("/assets/home/mobile/image-hero-coffeepress.jpg");
}

.about-hero {
  background-image: url("/assets/about/mobile/image-hero-whitecup.jpg");
}

.plan-hero {
  background-image: url("/assets/plan/mobile/image-hero-blackcup.jpg");
}

.about-quality {
  background-image: url("/assets/about/tablet/bg-quality.png");
}

@media (min-width: 768px) {
  .home-hero {
    background-image: url("/assets/home/tablet/image-hero-coffeepress.jpg");
  }

  .about-hero {
    background-image: url("/assets/about/tablet/image-hero-whitecup.jpg");
  }

  .plan-hero {
    background-image: url("/assets/plan/tablet/image-hero-blackcup.jpg");
  }
}

@media (min-width: 1280px) {
  .home-hero {
    background-image: url("/assets/home/desktop/image-hero-coffeepress.jpg");
  }

  .about-hero {
    background-image: url("/assets/about/desktop/image-hero-whitecup.jpg");
  }

  .plan-hero {
    background-image: url("/assets/plan/desktop/image-hero-blackcup.jpg");
  }
}
